.main{
    z-index: 1;
}
.header{
    font-size: 3.2rem;
    font-family: 'Arial Narrow Bold', sans-serif;
color: rgb(26, 4, 107);
font-weight: 1600;
margin-top: 2rem;
}
.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.subheader{
    font-size: 1.2rem;
    font-weight: 800;
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.btn{
    width: 13rem;
    height: 4rem;
   border: 1px solid rgb(26, 4, 107);
   background-color: rgb(26, 4, 107);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   font-weight: 600;
   gap: 0.8rem;
   color: white;
}

@media screen and (max-width: 1200px) {  

    .section2{
        flex-direction: column;
        gap: 2rem;
    }
    .buttons{
        flex-direction: column;
        gap: 2rem;
    }


    
}

@media screen and (max-width: 768px) {  

    .section2{
        flex-direction: column;
        gap: 2rem;
    }
    .buttons{
        flex-direction: column;
        gap: 2rem;
    }


}