.defaultButton{
    width: 13rem;
    height: 4rem;
   border: 1px solid rgb(2, 2, 63);
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   font-weight: 600;
   gap: 0.8rem;
}